<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: : 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button on-click="obtenerClientes">Obtener clientes</button>
        <table hidden$="{{noCargados}}">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        clientes: {
          type: Array,
          notify: true  //para que se pueda hacer algún tipo de interacción cuando tenga un cambio
        },
        noCargados: {
          type: Boolean,
          value: "true"
        }
      };
    }
    obtenerClientes () {
      var request = new XMLHttpRequest();
      request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);  // el false es para indicar que va a ser asincrona
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      console.log(this.clientes);
      this.noCargados = false;
    }
    anadirCliente () {
      var request = new XMLHttpRequest();
      request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);  // el false es para indicar que va a ser asincrona
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.clientes);
    }
    modificarCliente () {
      var request = new XMLHttpRequest();
      request.open("PUT", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers/12345", false);  // el false es para indicar que va a ser asincrona
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"ContactName":"Pepe","CompanyName":"Pepes Bar"};
      var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.clientes);
    }
    borrarCliente () {
      var request = new XMLHttpRequest();
      request.open("DELETE", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers/12345", false);  // el false es para indicar que va a ser asincrona
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      //var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
      //var body = JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.clientes);
    }
/*
    hacerLogin()
    {
      var mensajes = [{"mensaje":"Login correcto"},
                      {"mensaje":"Login INcorrecto"}];
      //this.usuario = this.usuario.value;
      //this.password = this.password.value;
      console.log(this.usuario + " " + this.password);
      if (this.usuario == "pepito" && this.password == "pepito")
      //if (true)
      {
        //this.resLogin = "Login correcto";
        this.resLogin = mensajes[0].mensaje;
      }
      else {
        //this.resLogin = "Login INcorrecto";
        this.resLogin = mensajes[1].mensaje;
      };
    }
*/
  }

  window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
