<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ulises-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <label for="">Login</label>
    <br>
    <input type="text" id="idUsuario" placeholder="[[valorInicial]]" value="{{usuario::input}}">
    <br>
    <label for="">Password</label>
    <br>
    <input type="password" id="idPass" value="{{password::input}}">
    <br>
    <button on-click = "hacerLogin" type="button" name="button">Login</button>
    <br>
    <label for="">[[resLogin]]</label>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UlisesLogin extends Polymer.Element {
      static get is() { return 'ulises-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          resLogin: {
            type: String,
            value: ''
          },
          valorInicial: {
            type: String,
            value: 'Escriba usuario'
          }
        };
      }
      hacerLogin()
      {
        var mensajes = [{"mensaje":"Login correcto"},
                        {"mensaje":"Login INcorrecto"}];
        //this.usuario = this.usuario.value;
        //this.password = this.password.value;
        console.log(this.usuario + " " + this.password);
        if (this.usuario == "pepito" && this.password == "pepito")
        //if (true)
        {
          //this.resLogin = "Login correcto";
          this.resLogin = mensajes[0].mensaje;
        }
        else {
          //this.resLogin = "Login INcorrecto";
          this.resLogin = mensajes[1].mensaje;
        };
      }
    }

    window.customElements.define(UlisesLogin.is, UlisesLogin);
  </script>
</dom-module>
