<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ulises-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

<div class="container">
  <div class="row">
    <img src=[[prop1]] class="col-lg-8 col-xs-12">
    <button type="button" name="button" class="col-lg-4 col-xs-12">[[prop2]]</button>
    <table class="table table-striped col-lg-12 col-xs-12">
      <thead>
        <th>Columna 1</th>
        <th>Columna 2</th>
        <th>Columna 3</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
      </tbody>
  </table>
  </div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UlisesVisor extends Polymer.Element {
      static get is() { return 'ulises-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'https://image.flaticon.com/icons/svg/122/122452.svg'
          },
          prop2: {
            type: String,
            value: 'Botón'
          }
        };
      }
    }

    window.customElements.define(UlisesVisor.is, UlisesVisor);
  </script>
</dom-module>
